# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- PyInstaller ---
build/
dist/
*.spec

# --- Conversion Artifacts ---
*.pdf
*.png
*.pbm
*.dxf

# --- Windows System Files ---
Thumbs.db
desktop.ini
